* {
  box-sizing: border-box;
}

body {
  margin: 0;

  text-align: center;
}

.hidden {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.active {
  z-index: 0;
  opacity: 1;
  display: block;
  width: auto;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
}

.done {
  color: #08a652;
}

.danger {
  color: #c00;
}

.search {
  opacity: 0;
  transition: opacity .3s;
}

.search.active {
  opacity: 1;
}

.custom__file-input input:focus+label {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, .25);
}

.custom__file-input:hover label {
  background-color: #42E3B4;
  color: #0087cd;
}

.custom__file-input label {
  display: block;
  border-radius: 3px;
  background-color: #21BA72;
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;

  transition: background-color .3s, color .3s;
}

.wrapper__name-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;

  transition: opacity .3s;
}

#result {
  font-size: 18px;
}